flynt-component[name='SideBySide'] {
  &.componentSpacing {
    margin-block-start: 0;
    padding-block-end: 0;
    padding-block-start: 0;
  }

  .container {
    margin: 0;
    max-inline-size: 100%;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .imageWrapper {
    block-size: 50vh;
    min-block-size: 300px;

    @media (min-width: $breakpoint-tablet) {
      block-size: 100%;
    }
  }

  .figure {
    margin: 0;
    block-size: 100%;

    &-image,
    &-image-svg {
      block-size: 100%;
      object-fit: cover;
      inline-size: 100%;
    }
  }

  .contentWrapper {
    color: currentColor;
    padding: var(--box-spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding: calc(var(--box-spacing) * 1.5);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      padding: calc(var(--box-spacing) * 2);
      align-items: flex-start;
      text-align: left;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: calc(var(--box-spacing) * 2);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size: 100%;
    width: 100%;
    max-width: 90%;

    @media (min-width: $breakpoint-tablet-horizontal) {
      align-items: flex-start;
      max-width: 600px;
    }

    @media (min-width: $breakpoint-large-desktop) {
      max-width: 700px;
    }
  }

  .heading {
    margin-top: 2rem;
    text-align: center;
    font-size: var(--font-size-h1-mobile);

    @media (min-width: $breakpoint-tablet) {
      font-size: var(--font-size-h1-mobile);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      text-align: left;
      font-size: var(--font-size-h1);
    }
  }

  .subheading {
    text-align: center;
    font-size: var(--font-size-h4-mobile);
    font-weight: var(--font-weight-medium);

    @media (min-width: $breakpoint-tablet) {
      font-size: var(--font-size-h3-mobile);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      font-size: var(--font-size-h3);
      text-align: left;
    }
  }

  .description {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: var(--font-size-body-large);

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 2rem;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      text-align: left;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      margin-bottom: 3rem;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      align-items: flex-start;
    }
  }

  .button {
    width: 100%;
    max-width: 300px;

    @media (min-width: $breakpoint-tablet) {
      width: auto;
      max-width: none;
    }

    .icon {
      display: inline-block;
      margin-left: 0.5rem;
      transition: transform 0.2s ease;
    }

    &:hover .icon {
      transform: translateX(4px);
    }
  }

  .trustWrapper {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-tablet-horizontal) {
      align-items: flex-start;
    }
  }

  .trustText {
    text-align: center;

    @media (min-width: $breakpoint-tablet-horizontal) {
      text-align: left;
    }
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    .container {
      display: flex;
      flex-direction: row;
      min-block-size: 600px;
      gap: 2rem;

      > * {
        flex-basis: 50%;
      }

      &[data-image-position='left'] {
        flex-direction: row;
      }

      &[data-image-position='right'] {
        flex-direction: row-reverse;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    .container {
      min-block-size: 700px;
      gap: 3rem;

      .imageWrapper {
        aspect-ratio: 1 / 1;
        flex-basis: auto;
        width: min(800px, 50vw);
      }

      .contentWrapper {
        flex: 1;
      }
    }
  }
}