.post-header-info{
  padding: 80px 0 40px;
  background-color: #0c2218;
  
  h1{
    font-size: 58px;
    color: #fff;
  }
}

.post-header-top-row{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header-cat{

  a{
    color: #0c2218;
    background-color: #dbf0e0;
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.post-header-author{
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}

.post-header-author-avatar{

  img{
    border-radius: 50%;
  }
}

.post-header-author-info{
  padding-left: 20px;
}

.post-header-top-date{
  color: #fff;
  display: flex;
  align-items: center;

  span{
    width: 16px;
    display: flex;
    margin-right: 10px;
  }

  path{
    fill: #fff;
  }
}

.post-header-thumb{
  position: relative;
  background-color: #f0f9f3b3;

  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #0c2218;
    z-index: 1;
  }

  .container{
    height: 400px;
  }

  img{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}