:root,
[data-theme="reset"] {
    --white: #ffffff;
  --light-green: #f0f9f3b3;
  --yellow: #ffe26a;
  --blue: #4353ff;
  --dark-gray: #1d3d3e1a;
  --dark-blue: #1c276d;
  --dark-green: #0c2218;
  --black: #000000;

  /* Text Colors */
  --text-white: #ffffff;
  --text-gray-light: #ffffffcc;
  --text-yellow: #ffe26a;
  --text-orange: #f69c20;
  --text-gray: #737677;
  --text-blue: #4353ff;
  --text-dark-gray: #333333;
  --text-darker-gray: #222222;
  --text-dark-green: #0c2218;
  --text-black: #000000;

   /* Border Colors */
  --border-white: #ffffff;
  --border-gray-light: #e4e4e4;
  --border-yellow: #ffe26a;
  --border-green: #b9e1c64d;
  --border-gray: #73767780;
  --border-blue: #4353ff;
  --border-dark-green: #0c2218;
}

$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;

:root {
  /**
   * FOUC can be reduced with good matching fallback font.
   * https://meowni.ca/font-style-matcher/ or
   * https://github.com/pixel-point/fontpie
   */
  --font-family-heading: 'Figtree', sans-serif;
  --font-family-text: 'Figtree', sans-serif;
  --font-size-body: 16px;
  --font-size-body-small: 14px;
  --flow-space: 1.5625rem;
  --column-gap: clamp(2.5rem, 2.5vw + 1.75rem, 3.75rem);

  --content-max-width: 700px;
  --content-max-width-wide: 900px;
  --content-max-width-full: 1200px;

  --box-spacing: clamp(1rem, 2.50vw + 0.25rem, 2.25rem);
  --container-spacing: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --component-spacing: clamp(3rem, 6.5vw + 1.05rem, 6.25rem);
}
