$light-bg: #194833;
$text-color: #ffffff;
$default-gap: 0.625rem;
$icon-size: 18px;

.top-bar {
  align-items: center;
  background-color: $light-bg;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem $default-gap * 2;
  min-height: var(--top-bar-height, 35px);
  text-transform: lowercase;

  .contact-info {
    display: flex;
    gap: $default-gap * 1.5;
  }

  .social-media {
    display: flex;
    gap: $default-gap;

  }

  .contact-item {
    align-items: center;
    display: inline-flex;

    .icon-wrapper {
      align-items: center;
      display: inline-flex;
      margin-right: $default-gap * 0.8;

      svg {
        height: $icon-size;
        width: $icon-size;
      }
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      font-size: var(--font--size--body)
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}