flynt-component[name='NavigationMain']  {
  --navigation-height: 86px;
  --top-bar-height: 45px;
  --total-height: calc(var(--navigation-height) + var(--top-bar-height));
  display: none;
  font-size: var(--font-size-body-small);
  text-transform: uppercase;
  font-size: var(--font-size-body-large);
  border-bottom: 1px solid var(--color-border-secondary);

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }
  .navigation {
    block-size: var(--navigation-height);
    top: 0;
    inset-block-start: unset;
    inset-inline: unset;
    z-index: 100;

    .admin-bar & {
      top: var(--wp-admin--admin-bar--height, 0);
    }
  }

  .navigation-wrapper {
    position: relative;

  }

  .container {
    block-size: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 34px;
  }

  @import 'Partials/logo';
  @import 'Partials/menu';
  @import 'Partials/topBar';

}